<% provide(:title, t(".heading")) %>
<!-- banner part starts -->
<section class="hero bg-image">
  <div class="hero-inner">
    <div class="container text-center hero-text font-white">
      <h1><%= t(".top")%></h1>
      <div class="banner-form">
        <form class="form-inline">
          <%= search_form_for(@searchs, url: root_path, method: "get") do |f| %>
            <div class="form-group">
              <%= f.text_field :name_cont, value: params[:name_cont], class: "text_field form-control" %>
              <%= f.submit t(".search_btn"), class: "btn theme-btn btn_search" %>
            </div>
          <% end %>

        </form>
      </div>
    </div>
  </div>
</section>
<section class="product">
  <div class="container">
    <div class="title text-xs-center m-b-30">
      <h2><%= t(".title")%></h2>
    </div>
    <div class="row">
      <%= render(@products) || t(".products_empty") %>
    </div>
    <%== pagy_bootstrap_nav @pagy %>
  </div>
</section>
