<div class="row p-2">
  <h2><%= t ".heading" %></h2>
  <div class="row">
    <%= render "form_search" %>
  </div>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col"><%= t ".id" %></th>
        <th scope="col"><%= t ".user_name" %></th>
        <th scope="col"><%= t ".phone_number" %></th>
        <th scope="col"><%= t ".address" %></th>
        <th scope="col"><%= t ".status" %></th>
        <th scope="col"><%= t ".total" %></th>
        <th scope="col"><%= t ".payment_type" %></th>
        <th scope="col"><%= t ".created_at" %></th>
        <th scope="col"><%= t ".actions" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @orders%>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav @pagy %>
</div>
