<%= form_for(@user) do |f| %>
  <%= render "shared/error_messages" %>
  <%= f.label :name, t(".name"), class: "required" %>
  <%= f.text_field :name, class: "form-control" %>
  <%= f.label :address, t(".address"), class: "required" %>
  <%= f.text_field :address, class: "form-control" %>
  <%= f.label :phone_number, t(".phone_number"), class: "required" %>
  <%= f.text_field :phone_number, class: "form-control" %>
  <%= f.label :email, t(".email"), class: "required" %>
  <%= f.email_field :email, class: "form-control" %>
  <%= f.label :password, t(".password"), class: "required" %>
  <%= f.password_field :password, class: "form-control" %>
  <%= f.label :password_confirmation, t(".password_confirm"), class: "required"%>
  <%= f.password_field :password_confirmation, class: "form-control" %>
  <div class="submit">
    <%= f.submit yield(:btn_text), class: "btn btn-primary" %>
  </div>
 <% end %>
