<tr>
  <% index = order_counter + 1 %>
  <th scope="row"><%= index %></th>
  <td><%= order.user_name %></td>
  <td><%= order.phone_number %></td>
  <td><%= order.address %></td>
  <td>
    <%= check_status order %>
  </td>
  <td><%= number_to_currency(order.total) %></td>
  <td><%= order.payment_type %></td>
  <td><%= order.created_at.strftime(Settings.date_format) %></td>
  <td><%= button_to t(".order_detail"), order_path(id: order.id), method: :get, class:"btn theme-btn-dash" %></td>
</tr>
