<% provide :title, t(".order_info") %>
<div class="container order-addon">
  <h1><%= t(".order_info") %></h1>
  <div><%= t(".user_name") %><%= @order.user_name %></div>
  <div><%= t(".address") %><%= @order.address %></div>
  <div><%= t(".phone_number") %><%= @order.phone_number %></div>
  <div><%= t(".payment_type") %><%= @order.payment_type %></div>
  <div><%= t(".note") %><%= @order.note %></div>
  <div><%= t(".list_products_order") %></div>
  <div class="collapse in order-content">
    <%= render "product_show", order: @order  %>
    <span class="price pull-left"><%= t(".total")%></span>
    <div class="col-xs-12 col-sm-12 col-lg-4 pull-right">
      <span class="price pull-left"><%= number_to_currency(@order.total) %></span>
    </div>
  </div>
</div>
