<!-- Each food item starts -->
<div class="col-xs-12 col-sm-6 col-md-4 food-item">
  <div class="food-item-wrap">
    <div class="figure-wrap bg-image" style="background-image: url(<%= product.image.url %>)" >
      <div class="distance"><i class="fa fa-pin"></i>1240m</div>
      <div class="rating pull-left"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> </div>
    </div>
      <div class="content">
      <h5><a href="profile.html"><%= product.name %></a></h5>
      <div class="product-name"><%= t(".quantity")%><%= product.quantity %></div>
      <div class="price-btn-block">
        <span class="price"><%= number_to_currency(product.price) %></span>
        <% if logged_in? %>
          <%= form_with(url: add_product_path(id: product.id ),id: "add_comment", html: {class:"add-to-cart", :'data-id' => product.id}) do |f| %>
            <%= f.submit t(".add_cart"), class: "btn theme-btn-dash pull-right submit-add-to-cart" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
