<footer class="footer">
  <div class="container">
    <!-- top footer statrs -->
    <div class="row top-footer">
        <div class="col-xs-12 col-sm-3 footer-logo-block color-gray">
          <%= link_to image_tag("food-picky-logo.png"), root_path%> <span><%= t(".top") %></span> 
        </div>
        <div class="col-xs-12 col-sm-2 about color-gray">
            <h5><%= t(".about") %></h5>
            <ul>
                <li><a href="#"><%= t(".about") %></a> </li>
                <li><a href="#"><%= t(".history") %></a> </li>
                <li><a href="#"><%= t(".our_team")%></a> </li>
                <li><a href="#"><%= t(".hiring")%></a> </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-2 how-it-works-links color-gray">
            <h5><%= t(".how_work")%></h5>
            <ul>
                <li><a href="#"><%= t(".location")%></a> </li>
                <li><a href="#"><%= t(".chooose_meal")%></a> </li>
                <li><a href="#"><%= t(".pay")%></a> </li>
                <li><a href="#"><%= t(".wait")%></a> </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-2 pages color-gray">
            <h5><%= t(".pages")%></h5>
            <ul>
                <li><a href="#"><%= t(".search_page")%></a> </li>
                <li><a href="#"><%= t(".signup_page")%></a> </li>
                <li><a href="#"><%= t(".pricing_page")%></a> </li>
                <li><a href="#"><%= t(".make_order")%></a> </li>
                <li><a href="#"><%= t(".add_cart")%></a> </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-3 popular-locations color-gray">
            <h5><%= t(".shop_locations")%></h5>
            <ul>
                <li><a href="#"><%= t(".dong_da")%></a> </li>
                <li><a href="#"><%= t(".hoang_mai")%></a> </li>
                <li><a href="#"><%= t(".tu_liem")%></a> </li>
            </ul>
        </div>
    </div>
    <!-- top footer ends -->
    <!-- bottom footer statrs -->
    <div class="bottom-footer">
      <div class="row">
        <div class="col-xs-12 col-sm-3 payment-options color-gray">
          <h5><%= t(".pay_option")%></h5>
          <ul>
            <li>
              <a href="#"> <%= image_tag("paypal.png") %> </a>
            </li>
            <li>
              <a href="#"><%= image_tag("mastercard.png") %></a>
            </li>
            <li>
              <a href="#"><%= image_tag("maestro.png") %></a>
            </li>
            <li>
              <a href="#"><%= image_tag("stripe.png") %></a>
            </li>
            <li>
              <a href="#"><%= image_tag("bitcoin.png") %></a>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 address color-gray">
          <h5><%= t(".address")%></h5>
          <p><%= t(".add_dec")%></p>
          <h5><%= t(".phone")%> <a href="tel:+080000012222">080 000012 222</a></h5> </div>
        <div class="col-xs-12 col-sm-5 additional-info color-gray">
          <h5><%= t(".add_info")%></h5>
          <p><%= t(".add_info_dec")%></p>
        </div>
      </div>
    </div>
    <!-- bottom footer ends -->
  </div>  
</footer>
